
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>IT-首页</title>
    <link href="~/Content/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/res/static/css/index.css" rel="stylesheet" />
    
</head>
<body>

    <!-- nav部分 -->
    <div class="nav index">
        <div class="layui-container">

            <div class="nav-list">
                <button>
                    <span></span><span></span><span></span>
                </button>
                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item layui-this"><a href="index.html">首页</a></li>
                    <li class="layui-nav-item"><a href="product.html">产品</a></li>
                    <li class="layui-nav-item"><a href="news.html">动态</a></li>
                    <li class="layui-nav-item"><a href="case.html">案例</a></li>
                    <li class="layui-nav-item"><a href="about.html">关于</a></li>
                </ul>
            </div>
        </div>
    </div>


    <!-- banner部分 -->
    @*<div>
            <div class="layui-carousel" id="banner" lay-filter="banner">
                <div carousel-item>
                    <div>
                        <img src="~/Content/res/static/img/banner1.jpg">
                        <div class="panel">
                            <p class="title">类友网络</p>
                            <p>完美前端体验</p>
                        </div>
                    </div>
                    <div>
                        <img src="~/Content/res/static/img/banner2.jpg">
                        <div class="panel">
                            <p class="title">类友网络</p>
                            <p>完美前端体验</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@



    <!-- main部分 -->
    <div class="main-product">
        <div class="layui-container">
            <p class="title">专为前端而研制的<span>核心产品</span></p>
            <div class="layui-row layui-col-space25">
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="content">
                        <div><img src="~/Content/res/static/img/Big_icon1.png"></div>
                        <div>
                            <p class="label">JS基础库</p>
                            <p>从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p>
                        </div>
                        <a href="javascript:;">查看产品 ></a>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3 ">
                    <div class="content">
                        <div><img src="~/Content/res/static/img/Big_icon2.png"></div>
                        <div>
                            <p class="label">CSS处理</p>
                            <p>从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p>
                        </div>
                        <a href="javascript:;">查看产品 ></a>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3 ">
                    <div class="content">
                        <div><img src="~/Content/res/static/img/Big_icon3.png"></div>
                        <div>
                            <p class="label">兼容性</p>
                            <p>从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p>
                        </div>
                        <a href="javascript:;">查看产品 ></a>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3 ">
                    <div class="content">
                        <div><img src="~/Content/res/static/img/Big_icon4.png"></div>
                        <div>
                            <p class="label">响应式</p>
                            <p>从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p>
                        </div>
                        <a href="javascript:;">查看产品 ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-service">
        <div class="layui-container">
            <p class="title">为客户打造完美的<span>专业服务</span></p>
            <div class="layui-row layui-col-space25 layui-col-space80">
                <div class="layui-col-sm6">
                    <div class="content">
                        <div class="content-left"><img src="~/Content/res/static/img/home_img1.jpg"></div>
                        <div class="content-right">
                            <p class="label">1 对 1 前端指导</p>
                            <span></span>
                            <p>更有多个包含不同主题的Web组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6">
                    <div class="content">
                        <div class="content-left"><img src="~/Content/res/static/img/home_img2.jpg"></div>
                        <div class="content-right">
                            <p class="label">1 对 1 前端指导</p>
                            <span></span>
                            <p>更有多个包含不同主题的Web组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6">
                    <div class="content">
                        <div class="content-left"><img src="~/Content/res/static/img/home_img3.jpg"></div>
                        <div class="content-right">
                            <p class="label">1 对 1 前端指导</p>
                            <span></span>
                            <p>更有多个包含不同主题的Web组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6">
                    <div class="content">
                        <div class="content-left"><img src="~/Content/res/static/img/home_img4.jpg"></div>
                        <div class="content-right">
                            <p class="label">1 对 1 前端指导</p>
                            <span></span>
                            <p>更有多个包含不同主题的Web组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-more"><a href="">查看更多</a></div>
        </div>
    </div>
    <!-- footer部分 -->
    <div class="footer">
        <div class="layui-container">
            <p class="footer-web">
                <a href="javascript:;">合作伙伴</a>
                <a href="javascript:;">企业画报</a>
                <a href="javascript:;">JS网</a>
                <a href="javascript:;">千图网</a>
                <a href="javascript:;">昵图网</a>
                <a href="javascript:;">素材网</a>
                <a href="javascript:;">花瓣网</a>
            </p>
            <div class="layui-row footer-contact">
                <div class="layui-col-sm2 layui-col-lg1"><img src="~/Content/res/static/img/erweima.jpg"></div>
                <div class="layui-col-sm10 layui-col-lg11">
                    <div class="layui-row">
                        <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
                            <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;400-8888888&nbsp;&nbsp;&nbsp;(9:00-18:00)</p>
                            <p class="contact-bottom"><span><i class="layui-icon layui-icon-home"></i>&nbsp;88888888@163.com</span></p>
                        </div>
                        <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
                            <p class="contact-top"><span class="right">浙江杭州阿里巴巴西溪园区</span></p>
                            <p class="contact-bottom"><span class="right">Copyright&nbsp;©&nbsp;2016-2018&nbsp;&nbsp;ICP&nbsp;备888888号</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/layui-v2.4.5/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../res/static/js/'
        }).use('firm');
    </script>
    @*<script type="text/javascript">
            layui.use(['carousel', 'form'], function () {
                var carousel = layui.carousel
                    , form = layui.form;

                //常规轮播
                carousel.render({
                    elem: '#banner'
                    , arrow: 'always'
                });
        </script>*@


    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.o~/Content/respond.js/1.4~/Content/respond.min.js"></script>
    <![endif]-->
    @*<script>
            layui.config({
                base: '~/Content/res/static/js/'
            }).use('firm');
        </script>*@

    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <!-- 条目中可以是任意内容，如：<img src=""> -->
    @*<script>
            layui.use('carousel', function () {
                var carousel = layui.carousel;
                //***************************建造实例
                var ins = carousel.render({
                    elem: '#banner'
                    , width: '1140px'     //设置容器宽度
                    , height: '800px'
                    , arrow: 'always'    //始终显示箭头，可选hover,none
                    ////,anim: 'updown'    //切换动画方式，可选fade,default
                    //, full: false        //全屏
                    //, autoplay: true     //自动切换
                    //, interval: 5000     //自动切换的时间间隔
                    //, index: 3           //初始化时item索引,默认时0
                    //, indicator: 'inside' //指示器位置，可选outside,none
                });

                //**************************监听轮播切换事件
                carousel.on('change(carofilter)', function (obj) { //test1来源于对应HTML容器的 lay-filter="test1" 属性值
                    console.log(obj.index);     //当前条目的索引
                    console.log(obj.prevIndex); //上一个条目的索引
                    console.log(obj.item);      //当前条目的元素对象
                });

                //****************************重置轮播
                //var ins = carousel.render(options);
                ins.reload({ arrow: 'hover' });//将arror从alway变成hover
            });
        </script>*@

</body>